# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
coverage.lcov
.hypothesis/
.pytest_cache/

# Build
/build
/dist

# Environments
.env
.venv

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.vscode